<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>letsbuildyourwebsite</title>
  </head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300|Montserrat:900" rel="stylesheet">
  <link rel="stylesheet" href="./css/master.css">
  <body class="body flexRow" ng-app='app' ng-controller='ctrl' ng-cloak>

    <div class="sideBar flexCol">
      <p data={{navigationPoint.data}} class="navigationPoint pointer" ng-repeat='navigationPoint in navigationPoints' ng-click="bringToTopOfPage(null, navigationPoint.point)">{{navigationPoint.point}}</p>
    </div>
    <!-- end sideBar -->

    <div id="mainContent" class="mainContent">
      <div class="intro section">
        <div data="home"></div>
        <h1>Let's build your website</h1>
        <p>you've thought up a website to serve business needs... you've writen details outlining its content, purpose, and audience... you've done enough... let me build it</p>
      </div>

      <!-- INTRO ANIMATION BOX -->
      <div class="introAnimationBox flexCol">
        <div class="url flexRow">
          <div class="urlCircle"></div>
          <p></p>
        </div>
        <div class="pageBody flexRow">
          <div class="pageContent pageBodymainSection"></div>
          <div class="pageContent pageBodySideSection flexCol">
            <div class="sideSectionTop"></div>
            <div class="sideSectionBottom"></div>
          </div>
        </div>
      </div>

      <!-- SECTION -->
      <div data="service"></div>
      <div class="text section">
        <div class="miniSection flexCol">
          <h1 data="1" class="textHeading"><span data="1" class="navTag pointer" ng-click="bringToTopOfPage($event)"># </span>MULTI-DEVICE</h1>
          <p>Your website will look great on all devices: Desktop, Laptop, Tablet, and even TV.</p>
          <p class="details">In today’s world, we use thousands of devices to surf the web. Today's consumer takes one look at a website and decides in less than 3 seconds if the website is worth exploring. A factor that is taken into account is the how optimized the website is on their device. With my services, you won’t have to worry about whether or not your site looks just as amazing on mobile devices or larger screens like televisions. I will insure your website looks amazing across all devices.</p>
        </div>
        <div class="miniSection flexCol">
          <h1 data="2" class="textHeading"><span data="2" class="navTag pointer" ng-click="bringToTopOfPage($event)"># </span>INTEGRATION</h1>
          <p>We can always add more features later. No pressure to get it all at once.</p>
          <p class="details">There are several services you can get on your website: a login in page, shopping cart, email notifications sign up, subscriptions, and many more. There is no need to worrying about exactly everything you need at once because those service can always be added later. For now, focus on what is most important for your customers. When you get more feedback or a better idea how what your customer wants in your website we will add it as we go. I will also be adding more services over time. Check back to this site to see new features.</p>
        </div>
        <div class="miniSection flexCol">
          <h1 data="3" class="textHeading"><span data="3" class="navTag pointer" ng-click="bringToTopOfPage($event)"># </span>INEXPENSIVE</h1>
          <p>Websites can cost thousands. No fear, I'm here, with affordable prices.</p>
          <p class="details">A web developer makes anywhere for $15-$60/hr (and somethings more!). Websites can take weeks to finish depending on the complexity of the site. So, you can imagine how quickly the price can get expensive. I am here to eliminate that worry. I understand how it feels to inherent the stress and expenses of a. I am here to remedy that expense by offering a huge discount. Check out the pricing table below for details.</p>
        </div>
      </div>

      <div data="cost"></div>
      <!-- PRICE TABLE -->
      <div id="table" class="section table" style="top: -4em; width: 52em">
        <div class="row flexRow odd">
          <div class="row1 flexRow"><p>Price</p></div>
          <div class="row2 flexRow"><p>Service</p></div>
          <div class="row3 flexRow"><p>Description</p></div>
        </div>
        <div class="" ng-repeat="service in services">
          <div class="row flexRow odd" ng-if="$odd">
            <div class="row1 flexRow"><p>{{service.price}}</p></div>
            <div class="row2 flexRow"><p>{{service.service}}</p></div>
            <div class="row3 flexRow"><p>{{service.description}}</p></div>
          </div>
          <div class="row flexRow even" ng-if="$even">
            <div class="row1 flexRow"><p>{{service.price}}</p></div>
            <div class="row2 flexRow"><p>{{service.service}}</p></div>
            <div class="row3 flexRow"><p>{{service.description}}</p></div>
          </div>
        </div>

      </div>

      <div data="example"></div>
      <!-- MESSAGE FORM SECTIONS -->
      <div class="section">
        <div class="miniSection flexCol">
          <h1 data="4" class="textHeading"><span data="4" class="navTag pointer" ng-click="bringToTopOfPage($event)"># </span>EMAIL CUSTOMERS</h1>
          <p>Send emails with this week's sales.</p>
        </div>
        <div class="miniSection flexCol">
          <h1 data="5" class="textHeading"><span data="5" class="navTag pointer" ng-click="bringToTopOfPage($event)"># </span>TEXT CUSTOMERS</h1>
          <p>Text appointment reminders or daily sales.</p>
        </div>
        <p class="details">The following forms are linked to my email and cell phone. Try sending me a message with your name, contact, questions, and comments. I will get back to you as soon as I can!</p>
        <div class="flexRow">
          <div class="form flexCol">
            <input type="text" name="" value="" placeholder="first name">
            <input type="text" name="" value="" placeholder="email">
            <textarea name="name" rows="8" cols="80" placeholder="message" data-gramm_editor="false"></textarea>
            <div class="messageBtnSection flexRow">
              <div class="sendEmailBtn selectedSendBtn flexRow">
                <p>email</p>
              </div>
              <div class="sendTextBtn flexRow">
                <p>text</p>
              </div>
            </div>
          </div>
          <div class="sendBtnSection flexRow">
            <div class="sendBtn flexCol pointer">
              <p>S</p><p>E</p><p>N</p><p>D</p>
            </div>
          </div>
          <div class="screen flexRow">
            <div class="arrowSection flexRow">
              <p class="arrowOne">)</p>
              <p class="arrowTwo">)</p>
              <p class="arrowThree">)</p>
            </div>
            <div class="device flexRow">
              <div class="deviceScreen flexRow">
                <p>sent</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SIGN UP SECTION -->
      <div class="section">
        <div class="miniSection flexCol">
          <h1 data="6" class="textHeading"><span data="6" class="navTag pointer" ng-click="bringToTopOfPage($event)"># </span>SIGN UP</h1>
          <p>Signing up to a site could give your customers a personalized feel on your website</p>
          <p class="details ul">5 Benefits for user sign up</p>
          <ul>
            <li class="details">Faster checkout via shipping address/personal information pre-population</li>
            <li class="details">Thank you emails for returning customers to build customer loyalty</li>
            <li class="details">Advertise upcoming sales with email notification</li>
            <li class="details">Personalized the user's profile by having customizable options such as page theme</li>
            <li class="details">Reciept storage in one spot to save customer time looking through emails</li>
          </ul>
        </div>
      </div>

      <!-- CONCLUSION SECTION -->
      <div class="section">
        <div class="miniSection flexCol">
          <h1 data="7" class="textHeading"><span data="7" class="navTag pointer" ng-click="bringToTopOfPage($event)"># </span>CONCLUSION</h1>
          <p class="details">What are you waiting for?</p>
          <ul class="details">
            <li class="details">By having a website you can skip the process of creating and distributing brochures.</li>
            <li class="details">Your potential customers can find out about you and any of your products online.</li>
            <li class="details">Also, your networking connections will want to check out your website.</li>
          </ul>
        </div>
      </div>

      <!-- CONTACT SECTION -->
      <div data="contact"></div>
      <div class="section">
        <div class="miniSection flexCol">
          <h1 data="9" class="textHeading"><span data="9" class="navTag pointer" ng-click="bringToTopOfPage($event)"># </span>CONTACT</h1>
          <p>any questions?</p>
          <p class="details">If you have any questions at all do not hesitate to call, text, or email me!</p>
          <a href="tel:+8147530157"><p class="details contactText">814 753 0157</p></a>
          <p class="details contactText">lets<span class="highlightEmail">build</span>your<span class="highlightEmail">website</span>@gmail.com</p>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="flexRow footer">
        <p>&copy; letsbuildyourwebsite</p>
      </div>
    </div>
    <!-- end mainContent -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  </body>
</html>
